@tailwind base;
@tailwind components;
@tailwind utilities;

@property --rotate {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root {
  /* Font and Typography */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Color Scheme */
  color-scheme: light dark;
  color: white;
  background-color: black;

  /* Font Rendering */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Frame Styling */
.frame {
  --border-width: 2px;
  --border-color: #1a1a1a;
  --border-style: solid;

  aspect-ratio: 0.474265 / 1;
  border-radius: 46px;
  box-shadow: rgba(255, 255, 255, 0.08) 0px 1px 346px 0px;
  flex: 0 0 auto;
  height: 633px;
  overflow: hidden;
  position: relative;
  transform: perspective(1200px) translateY(-20px);
  width: 300px;
  will-change: transform;
}

/* Phone Container Styling */
.phone_container {
  inset: 1.5px -1px;
  flex: 0 0 auto;
  position: absolute;
}

.phone_container::after,
.phone_container::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 44px;
}

/* Phone Container Background Styling */
.phone_container::after {
  top: 20px;
  left: 0;
  right: 0;
  transform: scale(0.8);
  filter: blur(120px);
  background-image: linear-gradient(
    var(--rotate),
    #ff5c00,
    #0154f0 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 5s ease-in-out infinite;
}

.phone_container::before {
  top: -0.5%;
  left: -1%;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  animation: spin 2.5s linear infinite;
}

/* Phone Styling */
.phone {
  cursor: auto;
  width: 100%;
  height: 100%;
  border-radius: 46px;
  display: block;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0);
  object-position: 50% 50%;
}

/* Keyframes for Rotation */
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
